<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inflation Calculator</title>
    <!-- Link to your static CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <!-- Logo bar at the top -->
    <div class="logo-bar">
        <span class="logo-text">Developed by</span><br>
        <img src="{{ url_for('static', filename='logo1.png') }}" alt="Logo 1" class="logo">
    </div>

    <h1>Inflation Calculator</h1>

    <form action="/calculate" method="post">
        <label for="items_text">
            Enter one item per line using the correct format as mentioned below:<br><br>
            Name_of_the Item<span class="blue-comma">,</span>In_house_price<span class="blue-comma">,</span>Doordash_price<br><br>
            Example:<br>
            Burger<span class="blue-comma">,</span>100<span class="blue-comma">,</span>120<br>
            Pizza<span class="blue-comma">,</span>200<span class="blue-comma">,</span>180<br><br>
            **Do not enter the currency symbol
        </label><br>
        <textarea id="items_text" name="items_text" rows="10" cols="60"
                  placeholder="Type your input here"></textarea>
        <br><br>
        <button type="submit">Calculate</button>
    </form>
</body>
</html>
